.container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.797);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 30px;
  color: white;
  text-align: center;
}
.playerList {
  max-height: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 10px;
}
.playerContainer {
  max-width: 220px;
  max-height: 120px;
  display: flex;
}
.avatarContainer {
  max-width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avatar {
  width: 70px;
  height: 60%;
  flex-shrink: 1;
  object-fit: contain;
}
.hat {
  position: relative;
  left: 3%;
  top: 2%;
  height: 40%;
  display: block;
  object-fit: contain;
}
.details {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: white;
}
.countdown {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5%;
  width: 100%;
  color: white;
}
