.container {
  position: absolute;
  left: 14%;
  top: 5%;
  width: 72%;
  height: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}
.container.youTurn {
  user-select: none;
}
.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.notification {
  width: 100%;
  background-color: dodgerblue;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.status {
  height: 100%;
  font-size: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roundsContainer {
  width: 18%;
  height: 100%;
}
.wordsContainer {
  height: 100%;
  width: 57%;
  border-bottom: 0;
  border-left: 0;
}

.gameWrap {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
}
.players {
  height: 100%;
  width: 21%;
}
.canvasContainer {
  width: 57%;
  height: 100%;
}
.chat {
  height: 100%;
  width: 30%;
}
.inputContainer {
  width: 80%;
}

@media (max-width: 768px) {
  body {
    overflow-y: hidden;
  }
  .container {
    overflow-y: scroll;
    position: static;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .status {
    text-align: center;
  }
  .header {
    height: 40px;
    border-radius: 0;
  }
  .notification {
    font-size: 20px;
  }
  .roundsContainer {
    width: 30%;
    background-color: dodgerblue;
  }

  .gameWrap {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }

  .canvasContainer {
    width: 100%;
    height: 54%;
    order: 1;
    flex-shrink: 0;
    border: 1px solid black;
  }

  .players {
    position: absolute;
    width: 40%;
    height: 46%;
    border: 1px solid black;
    order: 2;
    flex-shrink: 1;
    bottom: 0;
    left: 0;
  }

  .chat {
    position: absolute;
    width: 60%;
    height: 46%;
    order: 3;
    flex-shrink: 1;
    bottom: 0;
    right: 0;
  }
}
