.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: red;
}
.tools {
  position: absolute;
  display: flex;
  width: 100%;
  height: 20%;
  bottom: 0;
  background-color: dodgerblue;
  border: 1px solid black;
}
.colorsAndTrash {
  width: 80%;
  height: 100%;
}
.trash {
  margin: 5px;
  display: flex;
  text-align: center;
  font-size: 10px;
}
.customColor {
  width: 30%;
  margin: 5px;
}
.colors {
  margin: 5px;
  display: flex;
  gap: 5px;
  width: 100%;
  height: 10px;
}
.color {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  cursor: pointer;
}
.buttons {
  height: 100%;
  width: 40%;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttonWrapper {
  height: 40%;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #187bcd;
  transition: all 0.2s ease;
  border: 0;
  text-align: center;
  box-shadow: 1px 1px 0px 0 rgba(0, 0, 0, 0.703);
  margin: 0;
}
.buttonContainer:hover {
  background-color: #1970b7;
}
.buttonContainer:active {
  box-shadow: none;
}
.icon {
  width: 20px;
  height: 20px;
}
.sliderContainer {
  top: 0;
  z-index: 4;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: lightgray;
  border-radius: 20px;
}
.buttonText {
  margin: 0;
}
@media (max-width: 768px) {
  .colorsAndTrash {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  .customColor {
    width: 15%;
  }
  .buttonWrapper {
    font-size: 10px;
  }
  .buttonContainer {
    width: 20px;
    height: 20px;
  }
  .icon {
    width: 10px;
  }
  .color {
    width: 5%;
    height: 10px;
  }
}
